div.panel
{
margin:0px;
padding:5px;
text-align:center;
background-color:#FFFFE0;
border:solid 1px #c3c3c3;
height:80px;
width:1920px;
display:none;
}

div.panel a
{
    margin-left:50px;
    width:120px;
    text-align:center;
    float:left;
    font-size:20px;
    height:70px;
    line-height:70px;
    border-radius:5px;
    color:	#FFB90F;
    text-decoration:none;
    font-weight:5px;
}
div.panel a:hover
{
    background-color:#FFF8DC;
}
.li_a
{
    width:930px;
    height:75px;
    margin:0 auto;
    text-align:center;
}
p.flip
{
    width:20px;
    height:20px;
    margin-left:940px;
    margin-top:2px;
    font-size:20px;
}