body
{
    margin:0 auto;
    width:1920px;
    height:auto;
}
.header
{
    width:100%;
    height:60px;
    background-color:Gray;
}
    


.left_banner
{
    height:auto;
    width:150px;
    background-color:Yellow;
    margin-top:50px;
    margin-left:200px;
}


.left_banner p
{
   width:100%;
   padding:20px 0px 20px 0px;
   text-align:center;
   
}
.left_banner p a

{
    text-align:center;
}
.left_banner li
{
    list-style:none;
    
}



.left_banner li ul li
{
    margin-left:-91px;
}