* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%) !important;
}

#login {
    text-align: center;
    border-radius: 5px;
    width: 500px;
    height: 500px;
    background: #fff;
    font-family: 'Microsoft YaHei';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

h2 {
    margin-top: 60px;
}

.sign {
    text-align: center;
    vertical-align: middle;
    width: 400px;
    height: 400px;
    margin: 50px;
    overflow: auto;
}

a {
    font-size: 11px;
    color: #443d3d;
    text-decoration: none;
}

    a:hover {
        color: #089002;
    }

.input {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    width: 100px;
    background: #e6e6e6;
    height: 35px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.btn {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    height: 35px;
    border-radius: 25px;
    background: #3f51b5;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

    .btn:hover {
        background: #333333;
        cursor: pointer;
    }
